
.login{
    margin-top: 8rem;
    input{
        border-radius: 0;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid lightgray;
    }
    .form-container{
        margin-left: 11rem;
        border-radius: 10px;
        background-color: aliceblue;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        .logo-sm{
            font-size: 3rem;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 900;
            color: #6C7EE1;
        }
    }
    @media (max-width: 576px) {
        .form-container{
           margin-left: 0;
           width: 100%;
        }
      }
    .logo{
        font-size: 6rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
        color: #6C7EE1;
    }
    .slogan{
        font-size: 3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
}
@media (max-width: 576px) {
    .login{
       margin-top: 5rem;
    }
  }
